[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

numpy = "*"
pandas = "*"
matplotlib = "*"
sklearn = "*"
jupyter = "*"
scipy = "*"


[requires]

python_version = "2.7"
